<aside>
    <div class="sidebar-menu-icon">
        <app-icon [id]="'menuicon'" [classList]="['icon-size-16']"></app-icon>
    </div>
    <nav>
        <ul>
            <li>
                <!-- <span>Dashboard</span> -->
                <app-icon [id]="'dashboard'" [classList]="['icon-size-16']"></app-icon>
            </li>
            <li>
                <!-- <span>Your Will</span> -->
                <app-icon [id]="'will'" [classList]="['icon-size-16']"></app-icon>
            </li>
            <li>
                <!-- <span>Portfolio</span> -->
                <app-icon [id]="'portfolio'" [classList]="['icon-size-16']"></app-icon>
            </li>
            <li>
                <!-- <span>Settings</span> -->
                <app-icon [id]="'settings'" [classList]="['icon-size-16']"></app-icon>
            </li>
        </ul>
    </nav>
</aside>