@import './Core/Reset.scss';
@import './Core/grid.scss';
@import './Core/button.scss';
@import './Tools/fonts.scss';
@import './Tools/mixins.scss';
@import './Tools/_variables.scss';
@import './Tools/functions.scss';
@import './Tools/icon.scss';

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: #F4F6FC;
    padding: 0;
    color: #000;
    font-size: $root-font-size;
    font-family: $font-family;
}

.dashboard-module {
    background-color: #fff;
    padding: 25px;
}

.box-first,
.box-nested,
.box-large,
.box {
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
  min-height: 1rem;
  margin-bottom: 0;
  background: #007FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  color: white;
}
.box-row {
  margin-bottom: 1rem;
}
.box-first {
  background: #0066CC;
  border-color: #007FFF;
}
.box-nested {
  background: #003366;
  border-color: #007FFF;
}


p {
  color: $base-grey;
  line-height: 1.5rem;
}

.vertical-align {
  display: flex;
  align-items: center;
}


.NPV {
  text-align: center;
}

.welcome-block img {
  max-width: 100%;
}

.NPV-value {
  margin: 0px;
}

h2.NPV-value {
  font-size: 2rem;
  margin-top: -20px;
}

@media only screen and (max-width: 800px) {
  h2.NPV-value {
      font-size: 1rem;
      margin-top: 0px;
  }
}