<div class="table-container">
  <table #partiesTable id="partiesTable">
    <thead>
      <tr>
        <th></th>
        <th>Role</th>
        <th>Email</th>
        <th>Phone No.</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let party of parties">
        <td>
          <img src="{{party.avatar}}" />
          <div class="name-content">
            <strong>{{party.name}}</strong>
            <span>{{party.id}}</span>
          </div>
        </td>
        <td>{{party.role}}</td>
        <td>{{party.email}}</td>
        <td>{{party.phone}}</td>
        <td>{{ party.approved === true ? '&#10004;' : '&#10006;' }}</td>
      </tr>
    </tbody>
  </table>
</div>