<div class="table-container">
  <table id="partiesTable">
    <tr>
      <th></th>
      <th (click)="sortTable(0)">Role</th>
      <th>Email</th>
      <th>Phone No.</th>
      <th>Approved</th>
    </tr>

    <tr *ngFor="let party of parties">
      <td>
        <img src="{{party.avatar}}" />
        <div class="name-content">
          <strong>{{party.name}}</strong>
          <span>{{party.id}}</span>
        </div>
      </td>
      <td>{{party.role}}</td>
      <td>{{party.email}}</td>
      <td>{{party.phoneNumber}}</td>
      <td>{{ party.approved === true ? '&#10004;' : '&#10006;' }}</td>
    </tr>

  </table>
</div>